# Identitas
USER_NAME="Ivan Krisopras Hutabarat"

# Koneksi n8n (WhatsApp Gateway)
# Masukkan URL Webhook dari n8n kamu di sini
N8N_WEBHOOK_URL="https://n8n.ivanhutabarat.com/webhook/geostream"

# Path Data
RAW_DATA_PATH="./data"
RESULT_PATH="./results"
